@mixin heroImages($bgImg){
    background-image: url($bgImg);
    background-size: cover;
    background-position: center;
}

@mixin burgerBtn{
    position: absolute;
    width: 100%;
    right: 0;
    height: 3px;
    content: '';
    
}
@mixin offerStyles{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

@mixin contactForm{
    margin-bottom: 2em;
    padding: 0.6em 1.2em;
    border: none;
    border-radius: 8px;
    font-size: 1.6em;
}